* {
    padding: 0px;
    margin: 0px;
    font-family: "DOS";
    font-weight: 100; 
}

@font-face {
    font-family: DOS;
    src: url(/Fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf) format("truetype");
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --Background: rgb(0, 6, 51);
    --Main_Text_1: 10px;
    --Main_Text_2: 14px;
    --Main_Text_3: 16px;
    --Main_Text_4: 20px;
    --Main_Text_5: 24px;
    --Main_Text_6: 30px;
    --Main_Text_7: 32px;
    --Main_Text_8: 36px;
    --Main_Text_9: 40px;
    --Main_Text_10: 50px;
    --Main_Text_11: 60px;
    --Main_Text_12: 72px;
    --Main_Text_Color: rgb(255, 255, 255);
    --Main_Text_Color_1: rgb(255, 255, 255);
    --Main_Text_Color_2: rgb(0, 0, 0);
    --Main_Text_Color_3: rgb(255, 255, 255);
    --Header_Text_Color: rgb(255, 255, 255);
    --Main_Window_Color-1: rgb(0, 143, 97);
    --Main_Window_Color-2: rgb(0, 0, 0);
    --Main_Window_Header_Color-1: rgb(218, 218, 218);
    --Login_Window_Color-1: rgb(0, 0, 0);
    --Login_Window_Color-2: rgb(255, 255, 255);
    --Dropdown_Window_Color: rgba(0, 0, 0, 0.1);
    --Main_Border: rgba(255, 255, 255, 0.2);
    --Text_Input_Field: rgb(228, 228, 228);
    --Text_Input_Field-Actove: rgb(145, 15, 15);
    --Drop_Down_Window_Color: rgb(226, 226, 226);

    --UI-Buttons-Fields-Color-1: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color-2: rgb(44, 44, 44);
    --UI-Buttons-Fields-Color-3: rgb(44, 44, 44);
    --UI-Buttons-Fields-Color-4: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color-5: rgb(0, 0, 0);

    --UI-Silder-1: rgb(255, 255, 255);

    --UI-Buttons-Fields-Color_Active-1: rgb(255, 34, 34);
    --UI-Buttons-Fields-Color_Active-2: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color_Active-3: rgb(255, 27, 27);
    --UI-Buttons-Fields-Color_Active-4: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color_Active-5: rgb(0, 0, 0);
    

    --Active_Key: rgb(199, 199, 199);

    --Menu_Background: rgba(0, 0, 0, 0.3);
    --Box_Shadow: 10px 10px 0px rgba(0, 0, 0, 0.6);
    --Back_drop: blur(20px);

    --Profile_Pic_Background: rgba(0, 0, 0, 0.3);
    --Active_Border: rgb(49, 59, 56);
    --Border-Radius-1: 0px;
    --Border-Radius-2: 5px;
    --Border-Radius-3: 10px;


    --Round_Button: rgba(46, 46, 46, 0.5);
    --Normal_Button: rgba(31, 31, 31, 0.5);

    --Active_Brackets_Span: rgb(255, 153, 0);

    --VirtualKeyboard_Background: rgb(46, 46, 46);
    --VirtualKeyboard_Keys: rgb(46, 46, 46);

    --Close_Button_Active: rgb(255, 0, 0);

    --Dot_Grid: rgba(255, 255, 255, 0.03);

    --Progress_Bar_Background: rgb(255, 255, 255);
    --Progress_Bar_Fill: rgb(0, 105, 97);
}

.Window {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Main_Window_Color-1);
    overflow: hidden;
    border-radius: var(--Border-Radius);
    box-shadow: var(--Box_Shadow);
    display: flex;
    flex-direction: column;
    
}

.Window > .Window_Header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: var(--Main_Window_Header_Color-1);
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.Window > .Window_Header > .Title {
    color: var(--Main_Text_Color_2);
    font-size: var(--Main_Text_1);
}

.Window > .Window_Header > .Max_Size_Button {
    position: absolute;
    right: 30px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 174, 0);
    border: none;
    outline: none;
    border-radius: 50%;
}

.Window > .Window_Header > .Close_Button {
    position: absolute;
    right: 10px;
    width: auto;
    background: none;
    border: none;
    outline: none;
    color: var(--Main_Text_Color_2);
}

.Window > .Window_Header > .Close_Button:active {
    color: var(--UI-Buttons-Fields-Color_Active-1);
    -webkit-tap-highlight-color: transparent;
}

.Window > .Content {
    position: absolute;
    top: 30px;
    width: calc(100% - 20px);
    height: calc( 100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    outline: none;
    background-color: var(--UI-Buttons-Fields-Color-1);
    text-indent: 10px;
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
    border-radius: var(--Border-Radius_Button);
}

input::placeholder {
    text-indent: 10px;
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
}

input[type="color"] {
  border: none; 
  outline: none; 
  cursor: pointer;
}


input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
 
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;

  /*  overflow: hidden;  remove this line*/
  
  /* New additions */
  height: 10px;
  background-color: var(--UI-Silder-1);
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    appearance: none; 
    height: 10px;
    width: 10px;
    background-color: var(--UI-Buttons-Fields-Color-2);
    border: none;

}

a {
    text-decoration: none;
    color: var(--Main_Text_Color);
}

label {
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
}

button {
    border: none;
    outline: none;
    background-color: var(--UI-Buttons-Fields-Color-1);
    color: var(--Main_Text_Color_1);
    font-size: var(--Main_Text_1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Main_Border);
    border-radius: var(--Border-Radius-2);
}

button:active {
    background-color: var(--UI-Buttons-Fields-Color_Active-1);
    -webkit-tap-highlight-color: transparent;
}

.Floating_Button {
    border: none;
    outline: none;
    background: none;
    color: var(--Main_Text_Color_1);
    font-size: var(--Main_Text_1);
    cursor: pointer;
    text-align: left;
}

.Floating_Button:active {
    color: var(--UI-Buttons-Fields-Color_Active-1);
    -webkit-tap-highlight-color: transparent;
}



.Icon_Button {
    width: 30px;
    height: 30px;
    background-color: var(--UI-Buttons-Fields-Color-1);
    backdrop-filter: blur(10px);
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
    border: none;
    outline: none;
    border-radius: var(--Border-Radius_Button-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon_Button > img {
    position: absolute;
    width: 15px;
    height: 15px;
}

output {
    background-color: var(--UI-Buttons-Fields-Color-1);
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
    border-radius: var(--Border-Radius_Button);
}

.Dropdown_Window {
    position: absolute;
    box-shadow: var(--Box_Shadow);
    border-radius: var(--Border-Radius);
    overflow: hidden;
}

.Dropdown_Window > .Dropdown_Window_Button {
    text-align: left;
    text-indent: 10px;
    background-color: var(--Drop_Down_Window_Color);
    border-radius: 0px;
}

.Fullscreen_Dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--Menu_Background);
    backdrop-filter: var(--Back_drop);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.Fullscreen_Dialog > .Buttons {
    border-radius: var(--Border-Radius_Button);
    overflow: hidden;
}

.Fullscreen_Dialog > .Buttons > .Fullscreen_Dialog_Button {
    border-radius: 0px;
}