* {
    padding: 0px;
    margin: 0px;
    font-family: "Sometype Mono", monospace;
    font-weight: 100; 
}

@font-face {
    font-family: DOS;
    src: url(/Fonts/DOS/Px437_ACM_VGA_8x14.ttf)
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --Main_Text: 9px;
    --Main_Text_1: 10px;
    --Main_Text_2: 14px;
    --Main_Text_3: 16px;
    --Main_Text_4: 20px;
    --Main_Text_5: 24px;
    --Main_Text_6: 30px;
    --Main_Text_7: 32px;
    --Main_Text_8: 36px;
    --Main_Text_9: 40px;
    --Main_Text_10: 50px;
    --Main_Text_11: 60px;
    --Main_Text_12: 72px;
    --Main_Text_Color: rgb(255, 255, 255);
    --Main_Text_Color_1: rgb(255, 255, 255);
    --Main_Text_Color_2: rgb(255, 255, 255);
    --Main_Text_Color_3: rgb(255, 255, 255);
    --Header_Text_Color: rgb(255, 255, 255);
    --Main_Window_Color-1: rgb(51, 51, 51);
    --Main_Window_Color-2: rgba(0, 0, 0, 0.5);
    --Main_Window_Header_Color-1: rgb(34, 34, 34);
    --Login_Window_Color-1: rgb(0, 0, 0);
    --Login_Window_Color-2: rgb(255, 255, 255);
    --Dropdown_Window_Color: rgba(0, 0, 0, 0.1);
    --Main_Border: rgba(255, 255, 255, 0.2);
    --Text_Input_Field: rgb(228, 228, 228);
    --Text_Input_Field-Actove: rgba(16, 137, 146, 0.3);
    --Drop_Down_Window_Color: rgb(226, 226, 226);

    --UI-Buttons-Fields-Color-1: rgb(60, 60, 60);
    --UI-Buttons-Fields-Color-2: rgb(60, 60, 60);
    --UI-Buttons-Fields-Color-3: rgb(44, 44, 44);
    --UI-Buttons-Fields-Color-4: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color-5: rgb(0, 0, 0);

    --UI-Buttons-Fields-Color_Active-1: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color_Active-2: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color_Active-3: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color_Active-4: rgb(0, 0, 0);
    --UI-Buttons-Fields-Color_Active-5: rgb(0, 0, 0);
    

    --Active_Key: rgb(199, 199, 199);

    --Menu_Background: rgba(0, 0, 0, 0.3);
    --Box_Shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    --Back_drop: blur(20px);

    --Profile_Pic_Background: rgba(0, 0, 0, 0.3);
    --Active_Border: rgb(49, 59, 56);
    --Border-Radius-1: 0px;
    --Border-Radius-2: 5px;
    --Border-Radius-3: 10px;
    
    --Border-Radius_Button-1: 0px;
    --Border-Radius_Button-2: 0px;
    --Border-Radius_Button-3: 0px;
    --Border-Radius_Button-4: 0px;
    --Border-Radius_Button-5: 0px;
    


    --Round_Button: rgba(46, 46, 46, 0.5);
    --Normal_Button: rgba(31, 31, 31, 0.5);

    --Active_Brackets_Span: rgb(255, 153, 0);
}

.Window {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Main_Window_Color-1);
    backdrop-filter: var(--Back_drop);
    overflow: hidden;
    border-radius: var(--Border-Radius);
    box-shadow: var(--Box_Shadow);
    display: flex;
    flex-direction: column;
}

.Window > .Window_Header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: var(--Main_Window_Header_Color-1);
    display: flex;
    align-items: center;
}

.Window > .Window_Header > .Title {
    margin-left: 10px;
    color: var(--Header_Text_Color);
    font-size: var(--Main_Text);
}

.Window > .Window_Header > .Max_Size_Button {
    position: absolute;
    right: 30px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 174, 0);
    border: none;
    outline: none;
    border-radius: 50%;
}

.Window > .Window_Header > .Close_Button {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    border: none;
    outline: none;
    border-radius: var(--Border-Radius-1);
}

.Window > .Content {
    position: absolute;
    top: 30px;
    width: 100%;
    height: calc( 100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    outline: none;
    background-color: var(--UI-Buttons-Fields-Color-1);
    text-indent: 10px;
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
    border-radius: var(--Border-Radius_Button);
}

input::placeholder {
    text-indent: 10px;
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
}

a {
    text-decoration: none;
    color: var(--Main_Text_Color);
}

label {
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
}

button {
    border: none;
    outline: none;
    background-color: var(--UI-Buttons-Fields-Color-1);
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
    cursor: pointer;
    border-radius: var(--Border-Radius_Button);
}

button:active {
    background-color: var(--Text_Input_Field-Active);
}
    

.Floating_Button {
    position: absolute;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    font-size: var(--Main_Text);
    border: 1px solid var(--Main_Border);
    outline: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.Icon_Button {
    width: 30px;
    height: 30px;
    background-color: var(--UI-Buttons-Fields-Color-1);
    backdrop-filter: blur(10px);
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
    border: none;
    outline: none;
    border-radius: var(--Border-Radius_Button-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon_Button > img {
    position: absolute;
    width: 15px;
    height: 15px;
}


.Close_Button {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 0, 0);
    border: none;
    outline: none;
    border-radius: var(--Border-Radius-1);
}

output {
    background-color: var(--UI-Buttons-Fields-Color-1);
    color: var(--Main_Text_Color);
    font-size: var(--Main_Text);
    border-radius: var(--Border-Radius_Button);
}

.Dropdown_Window {
    position: absolute;
    box-shadow: var(--Box_Shadow);
    border-radius: var(--Border-Radius);
    overflow: hidden;
}

.Dropdown_Window > .Dropdown_Window_Button {
    text-align: left;
    text-indent: 10px;
    background-color: var(--Drop_Down_Window_Color);
    border-radius: 0px;
}

.Fullscreen_Dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--Menu_Background);
    backdrop-filter: var(--Back_drop);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.Fullscreen_Dialog > .Buttons {
    border-radius: var(--Border-Radius_Button);
    overflow: hidden;
}

.Fullscreen_Dialog > .Buttons > .Fullscreen_Dialog_Button {
    border-radius: 0px;
}